{% extends "base.html" %}

{% block title %}Willkommen beim Schweizer Krankenversicherungs-Rechner – Finden Sie Ihre beste Franchise{% endblock %}

{% block description %}Entdecken Sie den Schweizer Krankenversicherungs-Rechner, um Franchisen zu vergleichen und Ihre
Gesundheitskosten zu optimieren. Starten Sie noch heute mit wenigen einfachen Schritten!{% endblock %}

{% block keywords %}Schweizer Krankenversicherung, Franchise-Rechner, Gesundheitskosten, Versicherungsvergleich,
Versicherung Schweiz{% endblock %}

{% block content %}
<h1>Willkommen beim Schweizer Krankenversicherungs-Franchise-Rechner</h1>

<p>
    Suchen Sie nach der besten Möglichkeit, bei der Krankenversicherung in der Schweiz zu sparen? Dieses praktische Tool
    hilft Ihnen, die <b>kosteneffektivste Franchise</b> für Erwachsene zu finden – basierend auf Ihren monatlichen
    Prämien und jährlichen Gesundheitsausgaben.
    Egal, ob Sie in der Schweiz wohnen oder einen Umzug planen, dieser Rechner ist Ihr Wegweiser für klügere finanzielle
    Entscheidungen!
</p>

<img id="hero-img" src="{{ url_for('static', filename='img/matterhorn.jpg') }}"
    alt="Das Matterhorn, berühmter Berg in der Schweiz">


<p>
    <b>So verwenden Sie diesen Schweizer Krankenversicherungs-Rechner:</b>
    Klicken Sie zunächst auf den grünen Button „Prämienrechner“ unten.
    Damit öffnen Sie den <b>offiziellen Prämienrechner der Schweizerischen Eidgenossenschaft</b>
    (verfügbar in Deutsch, Französisch und Italienisch). Sie benötigen diese Informationen!
</p>

<div id="premium-calc">
    <a href="https://www.priminfo.admin.ch/de" target="_blank" class="btn">
        <strong>Prämienrechner</strong></a>
</div>

<p>
    Dort, im offiziellen Schweizer Prämienrechner, gehen Sie wie folgt vor:
</p>

<ol>
    <li>Geben Sie Ihre <b>Postleitzahl oder den Ortsnamen</b> in das Formular ein.</li>
    <li>Tragen Sie Ihr <b>Geburtsjahr</b> in das entsprechende Feld ein.</li>
    <li>Wählen Sie eine <b>hypothetische Franchise</b>, um zu starten.</li>
    <li>Entscheiden Sie, ob Sie eine <b>Unfallversicherung</b> benötigen (wenn Sie mehr als 8 Stunden pro Woche
        arbeiten, nicht nötig).</li>
    <img class="bvg-imgs" src="{{ url_for('static', filename='img/priminfo-first-ende.png') }}"
        alt="Die Startseite des Prämienrechners der Schweizerischen Eidgenossenschaft">
    <li>Wählen Sie unten auf der Seite unter <b>Versicherungsmodellen</b> wie „Standard“, „Hausarztmodell“, „HMO“ oder
        „weitere Modelle“ die
        entsprechenden Kästchen aus. Standardmässig sind alle Modelle ausgewählt.</li>
    <img class="bvg-imgs" src="{{ url_for('static', filename='img/priminfo-second-ende.png') }}"
        alt="Die unterste Seite des Prämienrechners der Schweizerischen Eidgenossenschaft">
</ol>

<p>
    Scrollen Sie danach im offiziellen Schweizer Prämienrechner nach unten und klicken Sie auf <b>„berechnen“</b>.
    Sobald die neue Seite geladen ist, wählen Sie den
    <b>Reiter „Vergleich der Franchisen“</b>. Klicken Sie auf die hervorgehobene Zahl <b>„300“</b>,
    um die Prämien von der günstigsten zur teuersten zu sortieren.
</p>

<p>
    Sie sehen nun <b>sechs verschiedene Prämien</b> – die günstigsten Optionen in Ihrer Region.
    Lassen Sie diese Seite geöffnet, da Sie die Prämien im nächsten Schritt benötigen!
</p>

<hr id="home-rule">

<p>
    <strong>Nun:</strong> Sie müssen Ihre <b>durchschnittlichen jährlichen Gesundheitsausgaben</b> kennen.
    Sobald Sie diese kennen, können Sie mit unserem Tool die Franchise wählen, die Ihnen am meisten spart!
</p>

<p>
    <b>Wie berechnen Sie Ihre durchschnittlichen Gesundheitsausgaben?</b> Sammeln Sie alle Ihre Arztrechnungen der
    <b>letzten 3 Jahre</b> (Arztbesuche, Medikamente, Spitalaufenthalte – aber <b>nicht</b> die Versicherungsprämien).
    Addieren Sie alles und teilen Sie durch <b>3</b>, um Ihren Jahresdurchschnitt zu erhalten. Diese Zahl hilft Ihnen,
    die beste Franchise zu wählen!
</p>

<p>
    Bereit, mit unserem Tool fortzufahren? Klicken Sie auf den Button unten, um Ihre Prämien einzugeben. Es ist
    kostenlos!
</p>

<a href="{{ url_for('choose', lang=lang) }}" class="btn">Jetzt starten</a>

<p class="warning-message">
    <b>Wichtiger Hinweis:</b> Dieses Tool berücksichtigt die Schweizer Versicherungsregeln, einschliesslich des
    <b>10%igen Selbstbehalts mit einer Obergrenze von 700 CHF pro Jahr</b> für Erwachsene, um Ihnen präzise
    Empfehlungen zu geben.
    Dieses Tool berücksichtigt nicht alle Versicherungsmodelle, sondern bietet lediglich eine Orientierungshilfe, um
    Ihre Franchise sinnvoll zu wählen. Prüfen Sie Ihre Bedürfnisse sorgfältig, bevor Sie eine Franchise wählen!
</p>

<img id="bottom-img" src="{{ url_for('static', filename='img/mnt-flag.png') }}" alt="Flagge der Schweiz">
{% endblock %}