{% extends "base.html" %}

{% block title %}Insurek - Schweizer Krankenversicherungs-Rechner – Finden Sie Ihre beste Franchise{% endblock %}

{% block description %}Entdecken Sie Insurek, den Schweizer Krankenversicherungs-Rechner, um Franchisen zu vergleichen
und Ihre
Gesundheitskosten zu optimieren. Starten Sie noch heute mit wenigen einfachen Schritten!{% endblock %}

{% block keywords %}Insurek, Schweizer Krankenversicherung, Franchise-Rechner, Gesundheitskosten,
Versicherungsvergleich,
Versicherung Schweiz{% endblock %}

{% block content %}

<h1>Informationen</h1>

<p>
    <b>Was ist Insurek?</b><br>
    Insurek ist ein einfaches Tool, das Ihnen hilft, den kostengünstigsten Franchise für Ihre Schweizer
    Krankenversicherung zu finden.
    Geben Sie die Prämien Ihres Versicherers ein und kennen Sie Ihre <b>durchschnittlichen jährlichen
        Gesundheitskosten</b>.
    Insurek berechnet dann, mit welchem Franchise Sie am meisten sparen.
</p>

<p>
    <b>Sind die Berechnungen genau?</b><br>
    Ja. Die Berechnungen sind einfach und basieren auf öffentlich zugänglichen Versicherungsprämien.
    Sie könnten die gleiche Berechnung selbst durchführen, indem Sie ein Diagramm mit sechs Linien (eine pro Franchise)
    zeichnen –
    das dauert jedoch länger. Insurek macht dies sofort mit einem transparenten Algorithmus,
    den Sie auf <a href="https://github.com/lucalevi/swiss-premium-chooser" target="insurek-algo">GitHub</a> einsehen
    können.
</p>

<p>
    <b>Wer hat Insurek erstellt?</b><br>
    Insurek ist ein kleines persönliches Projekt von <b>Luca Iacolettig</b>, der eine Zeit lang in der Schweiz lebte
    und vor derselben Frage stand: Welcher Franchise ist der beste?
    Er hat dieses Tool entwickelt, um auch anderen zu helfen, Geld zu sparen.
    Luca’s <a href="https://www.linkedin.com/in/luca-iacolettig/" target="linkedin-li">LinkedIn-Profil finden Sie
        hier</a>.
</p>

<p>
    <b>Warum hat die Website eine „.it“-Domain, wenn sie Schweizerisch ist?</b><br>
    Die Domain <i>iacolettig.it</i> war bereits verfügbar, daher haben wir sie genutzt, anstatt eine neue zu kaufen.
    Hier steht <i>.it</i> einfach für <i>Information Technology</i> – nicht für „Italien“.
    Dass Luca, der Ersteller der Seite, Italiener ist, ist nur ein Zufall.
</p>

<p>
    <b>Wie kann ich Insurek kontaktieren?</b><br>
    Sie können uns eine E-Mail senden, indem Sie <a href="mailto:iacolettig.luca@gmail.com">hier klicken</a>.
    Normalerweise antworten wir innerhalb von zwei Arbeitstagen.
</p>

{% endblock %}