{% extends "base.html" %}

{% block title %}Willkommen beim Schweizer Krankenversicherungs-Rechner – Finden Sie Ihre beste Franchise{% endblock %}

{% block description %}Entdecken Sie den Schweizer Krankenversicherungs-Rechner, um Franchisen zu vergleichen und Ihre
Gesundheitskosten zu optimieren. Starten Sie noch heute mit wenigen einfachen Schritten!{% endblock %}

{% block keywords %}Schweizer Krankenversicherung, Franchise-Rechner, Gesundheitskosten, Versicherungsvergleich,
Versicherung Schweiz{% endblock %}

{% block content %}

<h1>Informationen</h1>

{% endblock %}