{% extends "base.html" %}

{% block title %}Willkommen beim Schweizer Krankenversicherungs-Rechner – Finde deine beste Franchise{% endblock %}

{% block description %}Entdecke den Schweizer Krankenversicherungs-Rechner, um Franchisen zu vergleichen und deine
Gesundheitskosten zu optimieren. Starte noch heute mit wenigen Schritten!{% endblock %}

{% block keywords %}Schweizer Krankenversicherung, Franchise-Rechner, Gesundheitskosten, Versicherungsvergleich,
Krankenversicherung Schweiz{% endblock %}

{% block content %}
<h1>Schweizer Krankenkassen-Rechner</h1>
<img id="hero-img" src="{{ url_for('static', filename='img/basel.jpg') }}" alt="Die Mittlere Brücke in Basel">
<p>
    Geben Sie die Prämien ein, die Sie für jede Franchise (<b>300 CHF, 500 CHF, 1000 CHF, 1500 CHF,
        2000 CHF und 2500 CHF</b>) im
    <a href="https://www.priminfo.admin.ch/de" target="_blank">Prämienrechner der Schweizerischen
        Eidgenossenschaft</a> gefunden haben.
</p>
<p>
    <strong>Tipp:</strong> Die Prämie für die Franchise von 300 CHF ist die höchste, und die Prämienkosten
    sinken
    mit höheren Franchisen. Die Prämie für die Franchise von 2500 CHF ist die niedrigste.
    Achten Sie darauf, dass Sie Ihre Prämien in absteigender Reihenfolge eingeben.
</p>
<p>
    Tragen Sie Ihre monatliche Prämien für jede Franchise-Option ein.
</p>
<p id="validation-warning" style="color: red; display: none;">Achtung: Die Prämien müssen absteigend sein (300
    CHF > 500 CHF > 1000 CHF > 1500 CHF > 2000 CHF > 2500 CHF)</p>
<form method="post" action="{{ url_for('calculate', lang=lang) }}" id="premium-form">
    <div class="form-group">
        <label for="premium-300">Prämie für Franchise 300 CHF:</label>
        <input type="number" step="0.01" name="premium[]" id="premium-300" placeholder="z.B. 463.40" min="100"
            max="1000" required>
    </div>

    <div class="form-group">
        <label for="premium-500">Prämie für Franchise 500 CHF:</label>
        <input type="number" step="0.01" name="premium[]" id="premium-500" placeholder="z.B. 452.60" min="100"
            max="1000" required>
    </div>

    <div class="form-group">
        <label for="premium-1000">Prämie für Franchise 1000 CHF:</label>
        <input type="number" step="0.01" name="premium[]" id="premium-1000" placeholder="z.B. 425.40" min="100"
            max="1000" required>
    </div>

    <div class="form-group">
        <label for="premium-1500">Prämie für Franchise 1500 CHF:</label>
        <input type="number" step="0.01" name="premium[]" id="premium-1500" placeholder="z.B. 398.30" min="100"
            max="1000" required>
    </div>

    <div class="form-group">
        <label for="premium-2000">Prämie für Franchise 2000 CHF:</label>
        <input type="number" step="0.01" name="premium[]" id="premium-2000" placeholder="z.B. 371.20" min="100"
            max="1000" required>
    </div>

    <div class="form-group">
        <label for="premium-2500">Prämie für Franchise 2500 CHF:</label>
        <input type="number" step="0.01" name="premium[]" id="premium-2500" placeholder="z.B. 344.10" min="100"
            max="1000" required>
    </div>
    <input type="submit" value="Berechnen" id="submit-btn">
</form>
<p>
    Klicken Sie auf „Berechnen“, um deine Ergebnisse zu sehen!
</p>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}