<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Schweizer Krankenkassen-Rechner{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link
        href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD///8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERERERERERERERERERERERERERAAAREREREREAABEREREREQAAERERERAAAAAAAREREAAAAAABEREQAAAAAAERERAAAAAAAREREREAABEREREREQAAERERERERAAAREREREREREREREREREREREREREREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
        rel="icon" type="image/x-icon">
    <meta name="description"
        content="{% block description %}Entdecken Sie den Schweizer Krankenkassen-Rechner, um Franchisen zu vergleichen und Ihre Gesundheitskosten zu optimieren.{% endblock %}">
    <meta name="keywords"
        content="{% block keywords %}Schweizer Krankenkassen, Franchise-Rechner, Gesundheitskosten, Versicherungsvergleich, Krankenversicherung Schweiz{% endblock %}">
</head>

<body>
    <header class="navbar">
        <div class="navbar-brand">
            <a href="{{ url_for('root') }}"> <img src="{{ url_for('static', filename='img/ch-flag.webp') }}">
                Insurek</a>
        </div>
        <button class="navbar-toggle" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>
        <nav class="navbar-menu">
            <ul>
                <li><a href="{{ url_for('root') }}"
                        class="{% if request.path == '/' + lang + '/' %}active{% endif %}">Home</a></li>
                <li><a href="{{ url_for('choose', lang=lang) }}"
                        class="{% if 'choose' in request.path %}active{% endif %}">
                        Tool
                    </a></li>
            </ul>
            {% if not page_is_results %}
            <div class="language-switcher">
                {% for lang_code in ['en', 'de', 'fr', 'it'] %}
                <a href="{{ url_for('set_language', lang=lang_code) }}"
                    class="{% if lang_code == lang %}active{% endif %}" {% if lang_code==lang %}aria-disabled="true" {%
                    endif %}>{{ lang_code | upper }}</a>
                {% if not loop.last %} {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}
    <script src="{{ url_for('static', filename='navbar.js') }}"></script>
    {% endblock %}
</body>

</html>