{% extends "base.html" %}

{% block title %}Welcome to Swiss Health Insurance Calculator - Find Your Best Deductible{% endblock %}

{% block description %}Discover the Swiss Health Insurance Calculator to compare deductibles (franchises) and optimize
your health costs. Get started today with easy steps!{% endblock %}

{% block keywords %}Swiss health insurance, deductible calculator, health costs, insurance comparison, Switzerland
insurance{% endblock %}

{% block content %}
<h1>Welcome to the Swiss Health Insurance Deductible Calculator</h1>

<p>
    Looking for the best way to save on health insurance in Switzerland? This handy tool helps you find the most
    cost-effective <b>deductible (franchise)</b> for adults based on your monthly premiums and yearly health
    expenses.
    Whether you live in Switzerland or are planning to move, this calculator is your guide to smarter financial
    choices!
</p>

<img id="hero-img" src="{{ url_for('static', filename='img/matterhorn.jpg') }}"
    alt="The Matterhorn, famous mountain in Switzerland">


<p>
    <b>How to Use This Swiss Health Insurance Calculator:</b>
    First of all, click on the green button "Premium Calculator" below.
    You will open the <b>official Premium Calculator of the Swiss Confederation</b>
    (available in German, French, and Italian). You will need its information!
</p>

<div id="premium-calc">
    <a href="https://www.priminfo.admin.ch/" target="_blank" class="btn">
        <strong>Premium
            Calculator</strong></a>
</div>

<p>
    Once there, in the official Swiss premium calculator, follow these simple steps:

<ol>
    <li>Enter your <b>ZIP code or city name</b> in the form.</li>
    <li>Input your <b>birth year</b> in the designated field.</li>
    <li>Choose a <b>hypothetical deductible</b> to get started.</li>
    <li>Decide if you need <b>injury insurance</b> (if you work more than 8 hours a week, you don't).</li>
    <img class="bvg-imgs" src="{{ url_for('static', filename='img/priminfo-first-ende.png') }}"
        alt="The initial page of the Premium Calculator of the Swiss Confederation">
    <li>At the bottom of the page, choose among <b>insurance models</b> like "Standard", "home-doctor", "HMO" or
        "other models" by
        selecting the
        relative checkboxes. By default, all models are selected.</li>
    <img class="bvg-imgs" src="{{ url_for('static', filename='img/priminfo-second-ende.png') }}"
        alt="The bottom page of the Premium Calculator of the Swiss Confederation">
</ol>
</p>

<p>
    Next, still on the official Swiss Premium Calculator, scroll down and click <b>"calculate" ("berechnen" in
        German)</b>. Once the new page loads, select the
    <b>"deductible comparison" tab ("Vergleich der Franchisen")</b>. Click the highlighted number <b>"300"</b>
    to
    sort premiums from lowest to highest.
</p>

<p>
    You’ll see <b>six different premiums</b>—the cheapest options in your area.
    Keep this page open, as you’ll these premiums for the next step!
</p>

<hr id="home-rule">

<p>
    <strong>Now:</strong> you will need to know your <b>yearly average health expenses</b>.
    Once you know that, you can then pick the best deductible
    that saves you the
    most thanks to our tool!
</p>

<p>
    <b>How to Calculate Your Average Health Expenses?</b> Gather all your medical bills from the <b>last 3
        years</b> (doctor visits, medications, hospital stays—but <b>not</b> insurance premiums). Add them up
    and divide by <b>3</b> to get your yearly average. This number will help you choose the best deductible!
</p>

<p>
    Ready to move forward with our tool? Click the button below to enter your premiums. It's free!
</p>

<a href="{{ url_for('choose', lang=lang) }}" class="btn">Get Started</a>


<p class="warning-message">
    <b>Important Note:</b> This tool uses Swiss insurance rules, including a <b>10% co-insurance cap of 700 CHF
        per year</b> for
    adults, to give you accurate advice.
    This tool does not take into account all insurance possibilites, but provides just a reference guide for
    choosing your deductible in a sensible way. Check your needs carefully before choosing a deductible!
</p>

<img id="bottom-img" src="{{ url_for('static', filename='img/mnt-flag.png') }}" alt="Flag of Switzerland">
{% endblock %}