{% extends "base.html" %}

{% block title %}Insurek - Swiss Health Insurance Calculator - Find Your Best Deductible{% endblock %}

{% block description %}Discover Insurek, the Swiss Health Insurance Calculator to compare deductibles (franchises) and
optimize
your health costs. Get started today with easy steps!{% endblock %}

{% block keywords %}Insurek, Swiss health insurance, deductible calculator, health costs, insurance comparison,
Switzerland
insurance{% endblock %}

{% block content %}

<h1>About Insurek</h1>

<h2>What It Does – And Why It Matters</h2>
<p>
    <b>Insurek helps you save money on Swiss health insurance.</b><br>
    By entering your <b>monthly premiums</b> and by knowing your <b>average yearly health costs</b>, it tells you which
    deductible
    (franchise) will cost you the least overall.
    It’s quick, clear, and based on real Swiss insurance data.
</p>

<h2>Why You Can Trust It</h2>
<p>
    The calculation is simple math – nothing hidden.
    Insurek compares all six deductible options and shows you where you save the most.
    The method is public: you can even check the <a href="https://github.com/lucalevi/swiss-premium-chooser"
        target="insurek-algo">algorithm on GitHub</a>.
    But honestly, you don’t need to – Insurek does it instantly for you.
</p>

<h2>Who Made It – And Why</h2>
<p>
    Insurek is a personal project by <b>Luca Iacolettig</b>.
    When Luca lived in Switzerland, he struggled to choose the right deductible.
    He built Insurek so others wouldn’t waste time – or money – making the same mistake.
    You can read more about him on <a href="https://www.linkedin.com/in/luca-iacolettig/"
        target="linkedin-li">LinkedIn</a>.
</p>

<hr class="home-rule">

<h3>More Questions?</h3>
<p>
    <b>Why is the website “.it” if it’s Swiss?</b><br>
    The domain <i>iacolettig.it</i> was available, so we used it.
    Here, <i>.it</i> stands for <i>Information Technology</i>, not “Italy.”
    That Luca happens to be Italian? Just a coincidence.
</p>

<p>
    <b>Need to contact us?</b><br>
    Email us at <a href="mailto:iacolettig.luca@gmail.com">iacolettig.luca@gmail.com</a>.
    We reply within two working days.
</p>

{% endblock %}