{% extends "base.html" %}

{% block title %}Insurek - Swiss Health Insurance Calculator - Find Your Best Deductible{% endblock %}

{% block description %}Discover Insurek, the Swiss Health Insurance Calculator to compare deductibles (franchises) and
optimize
your health costs. Get started today with easy steps!{% endblock %}

{% block keywords %}Insurek, Swiss health insurance, deductible calculator, health costs, insurance comparison,
Switzerland
insurance{% endblock %}

{% block content %}

<h1>Information</h1>

<p>
    <b>What is Insurek?</b><br>
    Insurek is a simple tool that helps you find the most cost-effective deductible for your Swiss health insurance.
    By entering the premiums from your insurance provider and knowing your <b>average yearly health costs</b>,
    Insurek calculates which deductible will save you the most money.
</p>

<p>
    <b>Are the calculations accurate?</b><br>
    Yes. The math is straightforward and based on publicly available insurance premiums.
    You could do the same calculation yourself by drawing a chart with six lines (one for each deductible),
    but it takes time. Insurek does this instantly using a transparent algorithm,
    which you can view on <a href="https://github.com/lucalevi/swiss-premium-chooser" target="insurek-algo">GitHub</a>.
</p>

<p>
    <b>Who created Insurek?</b><br>
    Insurek is a small personal project by <b>Luca Iacolettig</b>, who once lived in Switzerland
    and faced the same challenge of choosing the best health insurance deductible.
    He built this tool to help others save money too.
    You can visit Luca’s <a href="https://www.linkedin.com/in/luca-iacolettig/" target="linkedin-li">LinkedIn profile
        here</a>.
</p>

<p>
    <b>Why does the website have a “.it” domain if it’s Swiss?</b><br>
    The domain <i>iacolettig.it</i> was already available, so we used it instead of buying a new one.
    Here, <i>.it</i> simply stands for <i>Information Technology</i>, not “Italy.”
    It’s just a coincidence that Luca, the site’s creator, is Italian.
</p>

<p>
    <b>How can I contact Insurek?</b><br>
    You can send us an email by clicking <a href="mailto:iacolettig.luca@gmail.com">here</a>.
    We usually respond within two working days.
</p>

{% endblock %}