{% extends "base.html" %}

{% block title %}Bienvenue sur le Calculateur Suisse d’Assurance Maladie – Trouvez votre meilleure franchise{% endblock
%}

{% block description %}Découvrez le Calculateur Suisse d’Assurance Maladie pour comparer les franchises et optimiser vos
coûts de santé. Commencez dès aujourd’hui en quelques étapes simples !{% endblock %}

{% block keywords %}assurance maladie suisse, calculateur de franchise, coûts de santé, comparaison assurance, assurance
Suisse{% endblock %}

{% block content %}
<h1>Bienvenue sur le Calculateur Suisse de Franchise d’Assurance Maladie</h1>

<p>
    Vous cherchez le meilleur moyen d’économiser sur votre assurance maladie en Suisse ?
    Cet outil pratique vous aide à trouver la <b>franchise</b> la plus rentable pour les adultes, en fonction de vos
    primes mensuelles et de vos dépenses de santé annuelles.
    Que vous viviez déjà en Suisse ou que vous envisagiez d’y emménager, ce calculateur est votre guide pour faire des
    choix financiers plus intelligents !
</p>

<img id="hero-img" src="{{ url_for('static', filename='img/matterhorn.jpg') }}"
    alt="Le Cervin, célèbre montagne en Suisse">


<p>
    <b>Comment utiliser ce Calculateur Suisse d’Assurance Maladie :</b>
    Tout d’abord, cliquez sur le bouton vert « Calculateur de primes » ci-dessous.
    Vous ouvrirez le <b>Calculateur officiel des primes de la Confédération suisse</b>
    (disponible en allemand, français et italien). Vous aurez besoin de ces informations !
</p>

<div id="premium-calc">
    <a href="https://www.priminfo.admin.ch/fr" target="_blank" class="btn">
        <strong>Calculateur de primes</strong></a>
</div>

<p>
    Une fois sur le calculateur officiel suisse, suivez ces étapes simples :
<ol>
    <li>Indiquez votre <b>code postal ou le nom de votre commune</b>.</li>
    <li>Saisissez votre <b>année de naissance</b>.</li>
    <li>Choisissez une <b>franchise hypothétique</b> pour commencer.</li>
    <li>Décidez si vous avez besoin d’une <b>assurance accidents</b> (si vous travaillez plus de 8 heures par semaine,
        vous n’en avez pas besoin).</li>
    <img class="bvg-imgs" src="{{ url_for('static', filename='img/priminfo-first-fr.png') }}"
        alt="La page d'accueil du calculateur de primes de la Confédération suisse">
    <li>Au bas de la page, choisissez parmi les <b>modèles d’assurance</b> tels que « Standard », « Médecin de
        famille », « HMO » ou «
        autres modèles » en cochant les cases correspondantes. Par défaut, tous les modèles sont sélectionnés.
    </li>
    <img class="bvg-imgs" src="{{ url_for('static', filename='img/priminfo-second-fr.png') }}"
        alt="Bas de la page du calculateur de primes de la Confédération suisse">
</ol>
</p>

<p>
    Ensuite, toujours sur le Calculateur officiel suisse, faites défiler la page et cliquez sur <b>« Calculer »</b>.
    Une fois la nouvelle page chargée, sélectionnez l’onglet <b>« Comparaison des franchises » (« Vergleich der
        Franchisen »)</b>.
    Cliquez sur le nombre mis en évidence <b>« 300 »</b> pour trier les primes de la plus basse à la plus élevée.
</p>

<p>
    Vous verrez apparaître <b>six primes différentes</b> – les options les moins chères dans votre région.
    Gardez cette page ouverte, car vous aurez besoin de ces primes pour l’étape suivante !
</p>

<hr id="home-rule">

<p>
    <strong>Maintenant :</strong> vous devez connaître vos <b>dépenses moyennes de santé annuelles</b>.
    Une fois ce chiffre connu, vous pourrez choisir la meilleure franchise qui vous fera économiser le plus grâce à
    notre outil !
</p>

<p>
    <b>Comment calculer vos dépenses moyennes de santé ?</b>
    Rassemblez toutes vos factures médicales des <b>3 dernières années</b> (visites médicales, médicaments,
    hospitalisations – mais <b>pas</b> les primes d’assurance).
    Additionnez-les et divisez par <b>3</b> pour obtenir votre moyenne annuelle.
    Ce chiffre vous aidera à choisir la meilleure franchise !
</p>

<p>
    Prêt à continuer avec notre outil ? Cliquez sur le bouton ci-dessous pour saisir vos primes. C’est gratuit !
</p>

<a href="{{ url_for('choose', lang=lang) }}" class="btn">Commencer</a>

<p class="warning-message">
    <b>Remarque importante :</b>
    Cet outil utilise les règles suisses d’assurance, y compris la <b>quote-part de 10 % plafonnée à 700 CHF par an</b>
    pour les adultes, afin de vous fournir des conseils précis.
    Cet outil ne prend pas en compte toutes les possibilités d’assurance, mais fournit un guide de référence pour
    choisir votre franchise de manière réfléchie.
    Vérifiez soigneusement vos besoins avant de choisir une franchise !
</p>

<img id="bottom-img" src="{{ url_for('static', filename='img/mnt-flag.png') }}" alt="Drapeau de la Suisse">
{% endblock %}