{% extends "base.html" %}

{% block title %}Insurek - Calculateur Suisse d’Assurance Maladie – Trouvez votre meilleure franchise{% endblock
%}

{% block description %}Découvrez Insurek, le Calculateur Suisse d’Assurance Maladie pour comparer les franchises et
optimiser vos
coûts de santé. Commencez dès aujourd’hui en quelques étapes simples !{% endblock %}

{% block keywords %}Insurek, assurance maladie suisse, calculateur de franchise, coûts de santé, comparaison assurance,
assurance
Suisse{% endblock %}

{% block content %}

<h1>À propos d’Insurek</h1>

<h2>Ce que fait Insurek – et pourquoi c’est important</h2>
<p>
    <b>Insurek vous aide à économiser sur votre assurance maladie en Suisse.</b><br>
    Entrez vos <b>primes mensuelles</b> et connaissant vos <b>dépenses de santé annuelles moyennes</b>, et Insurek vous
    indique
    quelle franchise vous coûtera le moins cher au total.
    C’est rapide, clair et basé sur des données suisses officielles.
</p>

<h2>Pourquoi vous pouvez faire confiance à Insurek</h2>
<p>
    Le calcul est simple – pas de surprise cachée.
    Insurek compare les six franchises et vous montre celle qui vous fait économiser le plus.
    La méthode est publique : vous pouvez consulter l’<a href="https://github.com/lucalevi/swiss-premium-chooser"
        target="insurek-algo">algorithme sur GitHub</a>.
    Mais honnêtement, Insurek le fait pour vous en quelques secondes.
</p>

<h2>Qui l’a créé – et pourquoi</h2>
<p>
    Insurek est un projet personnel de <b>Luca Iacolettig</b>.
    Quand Luca vivait en Suisse, il avait du mal à choisir la bonne franchise.
    Il a créé Insurek pour que d’autres ne perdent ni temps ni argent avec un mauvais choix.
    Vous pouvez en savoir plus sur lui sur <a href="https://www.linkedin.com/in/luca-iacolettig/"
        target="linkedin-li">LinkedIn</a>.
</p>

<hr class="home-rule">

<h3>Questions fréquentes</h3>
<p>
    <b>Pourquoi le site a-t-il un domaine “.it” s’il est suisse ?</b><br>
    Le domaine <i>iacolettig.it</i> était disponible, donc nous l’avons utilisé.
    Ici, <i>.it</i> signifie <i>Information Technology</i>, pas “Italie.”
    Que Luca soit italien ? Juste un hasard.
</p>

<p>
    <b>Nous contacter</b><br>
    Envoyez-nous un e-mail à <a href="mailto:iacolettig.luca@gmail.com">iacolettig.luca@gmail.com</a>.
    Nous répondons généralement sous deux jours ouvrables.
</p>

{% endblock %}