{% extends "base.html" %}

{% block title %}Benvenuto nel Calcolatore Svizzero dell’Assicurazione Malattia – Trova la tua migliore franchigia{%
endblock %}

{% block description %}Scopri il Calcolatore Svizzero dell’Assicurazione Malattia per confrontare le franchigie e
ottimizzare i tuoi costi sanitari. Inizia oggi in pochi semplici passi!{% endblock %}

{% block keywords %}assicurazione malattia svizzera, calcolatore franchigia, costi sanitari, confronto assicurazioni,
assicurazione Svizzera{% endblock %}

{% block content %}

<h1>Informazioni</h1>

{% endblock %}