{% extends "base.html" %}

{% block title %}Insurek - Calcolatore Svizzero dell’Assicurazione Malattia – Trova la tua migliore franchigia{%
endblock %}

{% block description %}Scopri Insurek, il Calcolatore Svizzero dell’Assicurazione Malattia per confrontare le franchigie
e
ottimizzare i tuoi costi sanitari. Inizia oggi in pochi semplici passi!{% endblock %}

{% block keywords %}Insurek, assicurazione malattia svizzera, calcolatore franchigia, costi sanitari, confronto
assicurazioni,
assicurazione Svizzera{% endblock %}

{% block content %}

<h1>Informazioni</h1>

<p>
    <b>Che cos’è Insurek?</b><br>
    Insurek è uno strumento semplice che ti aiuta a trovare la franchigia più conveniente per la tua assicurazione
    malattia in Svizzera.
    Inserendo i premi della tua assicurazione e conoscendo le tue <b>spese sanitarie medie annuali</b>,
    Insurek calcola quale franchigia ti permette di risparmiare di più.
</p>

<p>
    <b>I calcoli sono affidabili?</b><br>
    Sì. I calcoli sono semplici e si basano su premi assicurativi disponibili pubblicamente.
    Potresti fare lo stesso calcolo da solo, disegnando un grafico con sei linee (una per ogni franchigia),
    ma richiederebbe tempo. Insurek lo fa istantaneamente grazie a un algoritmo trasparente,
    che puoi consultare su <a href="https://github.com/lucalevi/swiss-premium-chooser" target="insurek-algo">GitHub</a>.
</p>

<p>
    <b>Chi ha creato Insurek?</b><br>
    Insurek è un piccolo progetto personale di <b>Luca Iacolettig</b>, che ha vissuto in Svizzera
    e si è trovato anche lui davanti alla scelta della franchigia migliore.
    Ha creato questo strumento per aiutare altre persone a risparmiare.
    Puoi visitare il <a href="https://www.linkedin.com/in/luca-iacolettig/" target="linkedin-li">profilo LinkedIn di
        Luca
        qui</a>.
</p>

<p>
    <b>Perché il sito ha un dominio “.it” se è svizzero?</b><br>
    Il dominio <i>iacolettig.it</i> era già disponibile, quindi è stato usato invece di acquistarne uno nuovo.
    In questo caso, <i>.it</i> significa semplicemente <i>Information Technology</i> e non “Italia”.
    Il fatto che Luca, il creatore del sito, sia italiano è solo una coincidenza.
</p>

<p>
    <b>Come posso contattare Insurek?</b><br>
    Puoi inviarci un’e-mail cliccando <a href="mailto:iacolettig.luca@gmail.com">qui</a>.
    Di solito rispondiamo entro due giorni lavorativi.
</p>

{% endblock %}